<!-- Botón hamburguesa centrado solo en móvil -->
<div class="d-lg-none d-flex justify-content-center mt-3">
  <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="bi bi-list"></i> Menu
  </button>
</div>

<!-- Contenedor principal -->
<div class="d-flex flex-column align-items-center mt-4 mt-lg-0">
  <div class="d-flex w-100">
    <app-aside></app-aside>
    <main class="flex-grow-1 px-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
