.nav-pills .nav-link.active {
  background-color: #3A9097 !important;
  color: #fff !important;
  border-radius: 0.25rem;
}

.disabled-link {
  opacity: 0.4 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

