.bg-blanco {
    background-color: #ffff !important;
}

.bg-negro {
    background-color: #0000 !important;
}

.bg-beige {
    background-color: #EFE5DB !important;
}

.bg-beige-claro {
    background-color: #F9F3EC !important;
}
.bg-azul {
    background-color: #3A9097 !important;
}

.bg-azul-claro {
    background-color: #8DDFD8 !important;
}

.spinner-azul {
    color: #3A9097 !important;
}

thead.table-azul th {
  background-color: #3A9097 !important;
  color: #fff !important;
}

body {
  font-family: 'Quicksand', sans-serif; 
  background-color: #F9F3EC;
  margin: 0;
  min-height: 100vh;
}

app-navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1030;
}