.detalles-curso {
  font-size: 1.1rem;      /* más grande */
  line-height: 1.5;        /* más cómodo de leer */
  color: #3E3028;          /* mismo tono elegante que el resto */
}

.detalles-curso strong {
  font-size: 1.1rem;      /* un pelín más grande los labels */
}